@model GameStore.Models.Game

<h2>@Model.GameName Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Game Name</dt>
        <dd class="col-sm-10">@Model.GameName</dd>

        <dt class="col-sm-2">Publisher</dt>
        <dd class="col-sm-10">@Model.Publisher</dd>

        <dt class="col-sm-2">Developer</dt>
        <dd class="col-sm-10">@Model.Developer</dd>

        <dt class="col-sm-2">Release Date</dt>
        <dd class="col-sm-10">@Model.ReleaseDate</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Image</dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" alt="@Model.GameName" style="width: 200px; height: 200px;" />
        </dd>

        <dt class="col-sm-2">Genre</dt>
        <dd class="col-sm-10">@Model.Genre.GenreName</dd>
    </dl>
</div>
<p>
    <a href="@Url.Action("Index", "Home")">Back to List</a>
</p>


