@model GameDisplayModel
@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <style>
        .game-card {
            position: relative;
            display: flex;
            flex-direction: column;
        }

            .game-card .card-img-top {
                max-height: 550px;
                object-fit: cover;
            }

            .game-card .btn {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
    </style>
}
<div class="my-2">
    <img src="/images/GameStore.jpg" alt="Game Store Logo" style="width: 512px; height: 512px;" />
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="genreId">Genres</label>
            <select class="form-select" id="genreId" name="genreId">
                <option selected>Genre</option>
                @foreach (var genre in Model.Genres)
                {
                    <option selected="@(genre.Id==Model.GenreId)" value="@genre.Id">@genre.GenreName</option>
                }
            </select>
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="sterm">Search by title</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Search by title">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Home/Index" class="btn btn-dark">Reset</a>
        </div>
    </form>
</div>

<div class="w-100 mt-4 d-flex flex-wrap">
    @foreach (var game in Model.Games)
    {
        <div class="card mx-2 mb-4 game-card" style="width: 11rem;">
            <img src="@game.ImageUrl" class="card-img-top" alt="@game.GameName">
            <div class="card-body">
                <h5 class="card-title">@game.GameName</h5>
                <p class="card-text">Genre:@game.Genre.GenreName</p>
                <p>Developer:@game.Developer</p>
                <p>Price:@game.Price</p>
            </div>
            <button type="button" onclick="add(@game.Id)" class="btn btn-primary">Add to cart</button>
        </div>
    }
</div>

@section Scripts {
    <script>
        async function add(gameId) {
            var usernameEl = document.getElementById("username");
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
            }
            try {
                var response = await fetch(`/Cart/AddItem?gameId=${gameId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}
